
.slide-design-select-placeholder {
    color: #756f6f;
  }
  .slide-design-header {
    font-weight: bold;
    margin: 0;
    color: #1b1b4c;
    font-size: 30px;
  }
  .slide-design-p {
    font-size: 12px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px 50px;
  }
  .slide-design-span {
    font-size: 12px;
  }
  .slide-design-a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
  }
  .slide-design-button {
    border-radius: 20px;
    border: 1px solid #1b1b4c;
    color: #1b1b4c;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    &:hover {
      background: #1b1b4c;
      color: #fff;
    }
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
  }
  .slide-design-button-ghost {
    background-color: transparent;
    border-color: #ffffff;
    color: white;
  }
  .slide-design-form {
    background-color: #f5fafe;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
  }
  .slide-design-input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 50%;
  }
  .slide-design-social-container {
    margin: 20px 0;
    a {
      border: 1px solid #dddddd;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
    }
  }
  .slide-design-white {
    color: white;
  }
  .slide-design-container {
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: "Roboto", sans-serif;
  }
  .slide-design-form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  .slide-design-sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
    opacity: 1;
  }
  .slide-design-sign-up-container {
    left: 0;
    width: 50%;
    opacity: 1;
    z-index: 1;
  }
  .slide-design-container.slide-design-right-panel-active {
    .slide-design-sign-in-container {
      transform: translateX(100%);
    }
    .slide-design-sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
    }
    .slide-design-overlay-container {
      transform: translateX(-100%);
    }
    .slide-design-overlay {
      transform: translateX(50%);
    }
    .slide-design-overlay-left {
      transform: translateX(0);
    }
    .slide-design-overlay-right {
      transform: translateX(20%);
    }
  }
  .slide-design-move {
    margin-left: 50px;
  }
  .slide-design-right {
    margin-right: 70px;
  }
  .slide-design-overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  .slide-design-overlay {
    background-image: url("img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 0;
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .slide-design-overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .slide-design-overlay-left {
    transform: translateX(-20%);
   
  }
  .slide-design-overlay-right {
    right: 0;
    transform: translateX(0);
    /* //   background-color: rgba(91, 91, 103, 0.7); */
  }
  
  .slide-design-select-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .select-css {
    display: block;
    font-size: 16px;
    color: #756f6f;
    line-height: 1.3;
    padding: 0.6em 1.4em 0.5em 0.8em;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #e0d8d8;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
    border-radius: 0.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
      linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right 0.7em top 50%, 0 0;
    background-size: 0.65em auto, 100%;
  }
  .select-css::-ms-expand {
    display: none;
  }
  .select-css:hover {
    border-color: #888;
  }
  .select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
  }
  .select-css option {
    font-weight: normal;
  }
  .login-failed-border {
    border: 2px solid red;
  }
  
  .btnLogin {
    background: #4b6584 !important;
  }
  .forgotPassword {
    color: #3a5aae !important;
    font-weight: bold;
  }
  .btnSignUpNow {
    color: #4b6584;
    border: 1px solid #4b6584;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 5px;
  }
  
  .input-group-text {
    background: white;
    border: none;
  }
  .loginArea input.form-control,
  .signupArea input.form-control {
    border: none;
  }
  .input-group {
    border-radius: 5px;
    box-shadow: 0 0 0 0.1rem #d2cfcf;
  }
  
  body {
    background-color: white !important;
    background: white !important;
  }
  